<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Christian Rognstad
        30 years old, have been a chef for the last 13
         years and i am now trying to become a professional programmer.
       I am living in Nice France</p>
  </div>

    <%= source_helper("alert alert-info") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @set_sidebar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/cricri87" target="_blank"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.facebook.com/christian.rognstad" target="_blank"><%= fa_icon "facebook-square" %></a></li>
      <li><a href="https://www.linkedin.com/in/christian-rognstad-4921b4130/" target="_blank"<%= fa_icon "linkedin-square" %></a></li>
    </ol>
  </div>
</div>
